---
layout: layouts/base.njk
title: 标签索引
permalink: /tags/
---
<div class="section-label">标签索引</div>

{% for tag in collections.uniquePostTags %}
  {% set posts = collections.posts | selectattr("data.tags", "contains", tag) %}
  {% set tagPosts = [] %}
  {% for post in collections.posts %}
    {% if tag in (post.data.tags or []) %}
      {% set tagPosts = (tagPosts.push(post), tagPosts) %}
    {% endif %}
  {% endfor %}
  <div class="tag-group">
    <h2 class="tag-group-title">
      {{ tag }}
      <span class="tag-group-count">{{ tagPosts.length }} 篇</span>
    </h2>
    <ul class="tag-group-list">
      {% for post in tagPosts %}
        <li>
          <a href="{{ post.url }}">
            <span class="d">{{ post.date | htmlDateString }}</span>
            <span class="t">{{ post.data.title or post.page.fileSlug }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
